<div *ngIf="elegirProducto">
  <app-productos [extern]="[{ k: 2, v: 'Insumo', b: true }]" (select)="asignarProducto($event)"></app-productos>
</div>
<div [hidden]="elegirProducto">
  <form class="form-horizontal" novalidate
        [formGroup]="form">
    <div class="form-row">
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label">Almacen</label>
          <div class="col-md-12">
            <select class="custom-select"
                    formControlName="almacen">
              <option *ngFor="let a of almacenes" [ngValue]="a">
                {{a.nombre}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label" for="loteId">Lote</label>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control"
                     id="loteId"
                     type="text"
                     required
                     [readonly]="modoEdicion"
                     formControlName="idLote" />
              <div class="input-group-append" *ngIf="!modoEdicion">
                <button class="btn btn-primary"
                        type="button"
                        [disabled]="!form.valid"
                        (click)="buscarLote()">
                  <fa name="search"></fa>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <label class="col-md-12 control-label" for="comentarioId">Comentario</label>
          <div class="col-md-12">
            <input class="form-control"
                   id="comentarioId"
                   type="text"
                   [readonly]="modoLectura"
                   formControlName="comentario" />
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="form-horizontal">
    <div class="form-row" *ngIf="!modoEdicion && !modoLectura">
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label">Producto</label>
          <div class="col-md-12">
            <select class="custom-select"
                    [ngModel]="producto">
              <option *ngFor="let p of productos" [ngValue]="p">
                {{p.nombre}}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label" for="insumoId">Insumo</label>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control"
                     id="insumoId"
                     type="text"
                     required
                     readonly
                     [ngModel]="insumo.nombre" />
              <div class="input-group-append">
                <button class="btn btn-primary"
                        type="button"
                        (click)="buscarProducto()">
                  <fa name="search"></fa>
                </button>
                <button class="btn btn-primary"
                        type="button"
                        (click)="saveItem()"
                        [disabled]="!producto || !insumo.nombre">
                  <fa name="plus-circle"></fa>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="col-md-12">
          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Insumo</th>
                <th scope="col">Unidad</th>
                <th scope="col">Cantidad</th>
                <th scope="col" *ngIf="!modoLectura"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of items">
                <td>{{i.producto.nombre}}</td>
                <td>{{i.insumo.nombre}}</td>
                <td>
                  <select class="custom-select" [(ngModel)]="i.unidad" (change)="setFactor(i)">
                    <option *ngFor="let ip of i.insumo.items" [ngValue]="ip.unidad">
                      {{ip.unidad.abreviacion}}
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number"
                         class="form-control"
                         [readonly]="modoLectura"
                         [(ngModel)]="i.cantidad" />
                </td>
                <td class="text-center" *ngIf="!modoLectura">
                  <button type="button"
                          class="btn btn-primary"
                          (click)="deleteItem(i)">
                    <fa name="trash"></fa>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary ml-3"
            *ngIf="!modoLectura"
            type="button"
            (click)="save()"
            [disabled]="!form.valid || items.length == 0">
      <fa name="save"></fa> Guardar
    </button>
    <button class="btn btn-outline-secondary ml-2"
            type="button"
            [routerLink]='["/salidas-insumo"]'>
      <fa name="reply"></fa> Regresar
    </button>
  </div>
</div>
