<h1>{{(modoEdicion) ? 'Editar' : 'Agregar'}} Persona</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="tipoId">Tipo</label>
      <div class="col-md-8">
        <select id="tipoId" class="custom-select" formControlName="tipoPersona">
          <option [ngValue]="1">Gerente</option>
          <option [ngValue]="2">Cliente</option>
          <option [ngValue]="3">Vendedor</option>
          <option [ngValue]="4">Empleado</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="nombresId">Nombres</label>
      <div class="col-md-8">
        <input class="form-control"
               id="nombresId"
               type="text"
               required
               formControlName="nombres"
               [ngClass]="{'is-invalid': formGroup.get('nombres').touched && !formGroup.get('nombres').valid }" />
        <div class="invalid-feedback" *ngIf="!formGroup.get('nombres').valid">
          El campo nombres es requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="apellidosId">Apellidos</label>
      <div class="col-md-8">
        <input class="form-control"
               id="apellidosId"
               type="text"
               required
               formControlName="apellidos"
               [ngClass]="{'is-invalid': formGroup.get('apellidos').touched && !formGroup.get('apellidos').valid }" />
        <div class="invalid-feedback" *ngIf="!formGroup.get('apellidos').valid">
          El campo apellidos es requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="razonSocialId">Razón Social</label>
      <div class="col-md-8">
        <input class="form-control"
               id="razonSocialId"
               type="text"
               required
               formControlName="razonSocial"
               [ngClass]="{'is-invalid': formGroup.get('razonSocial').touched && !formGroup.get('razonSocial').valid }" />
        <div class="invalid-feedback" *ngIf="!formGroup.get('razonSocial').valid">
          El campo razón social es requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="numeroDocumentoId">Nro. Documento</label>
      <div class="col-md-8">
        <input class="form-control"
               id="numeroDocumentoId"
               type="text"
               required
               formControlName="numeroDocumento"
               [ngClass]="{'is-invalid': formGroup.get('numeroDocumento').touched && !formGroup.get('numeroDocumento').valid }" />
        <div class="invalid-feedback" *ngIf="!formGroup.get('numeroDocumento').valid">
          El campo nro. documento es requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="direccionId">Dirección</label>
      <div class="col-md-8">
        <input class="form-control"
               id="direccionId"
               type="text"
               required
               formControlName="direccion"
               [ngClass]="{'is-invalid': formGroup.get('direccion').touched && !formGroup.get('direccion').valid }" />
        <div class="invalid-feedback" *ngIf="!formGroup.get('direccion').valid">
          El campo dirección es requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary ml-3"
              type="submit"
              [disabled]="!formGroup.valid">
        <fa name="save"></fa> Guardar
      </button>
      <button class="btn ml-2"
              [routerLink]='["/personas"]'>
        Cancelar
      </button>
    </div>
  </fieldset>
</form>
