<div *ngIf="elegirZonaVenta">
  <app-zonas-venta [extern]="[]" (select)="asignarZonaVenta($event)"></app-zonas-venta>
</div>
<div *ngIf="elegirVendedor">
  <app-personas [extern]="filtrosVendedor" (select)="asignarVendedor($event)"></app-personas>
</div>
<form [hidden]="elegirZonaVenta || elegirVendedor" class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="form">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="tipoId">Tipo</label>
      <div class="col-md-8">
        <select id="tipoId" class="custom-select" formControlName="tipoPersona">
          <option [ngValue]="1">Gerente</option>
          <option [ngValue]="2">Cliente</option>
          <option [ngValue]="3">Vendedor</option>
          <option [ngValue]="4">Empleado</option>
        </select>
      </div>
    </div>
    <div class="form-group" [hidden]="form.controls.tipoPersona.value == 2">
      <label class="col-md-2 control-label" for="nombresId">Nombres</label>
      <div class="col-md-8">
        <input class="form-control"
               id="nombresId"
               formControlName="nombres"
               [required]="form.controls.tipoPersona.value != 2" />
      </div>
    </div>
    <div class="form-group" [hidden]="form.controls.tipoPersona.value == 2">
      <label class="col-md-2 control-label" for="apellidosId">Apellidos</label>
      <div class="col-md-8">
        <input class="form-control"
               id="apellidosId"
               formControlName="apellidos"
               [required]="form.controls.tipoPersona.value != 2" />
      </div>
    </div>
    <div class="form-group" [hidden]="form.controls.tipoPersona.value != 2">
      <label class="col-md-2 control-label" for="razonSocialId">Razón Social</label>
      <div class="col-md-8">
        <input class="form-control"
               id="razonSocialId"
               formControlName="razonSocial"
               [required]="form.controls.tipoPersona.value == 2" />
      </div>
    </div>
    <div class="form-group" formGroupName="vendedor" [hidden]="form.controls.tipoPersona.value != 2">
      <label class="col-md-2 control-label" for="vendedorId">Vendedor</label>
      <div class="col-md-8">
        <div class="input-group">
          <input class="form-control"
                 id="vendedorId"
                 type="text"
                 [required]="form.controls.tipoPersona.value == 2"
                 formControlName="razonSocial"
                 [readonly]="true" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="buscarVendedor()">
              <fa name="search"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" formGroupName="zonaVenta" [hidden]="form.controls.tipoPersona.value != 2">
      <label class="col-md-2 control-label" for="zonaVentaId">Zona Venta</label>
      <div class="col-md-8">
        <div class="input-group">
          <input class="form-control"
                 id="zonaVentaId"
                 type="text"
                 [required]="form.controls.tipoPersona.value == 2"
                 formControlName="nombre"
                 [readonly]="true" />
          <div class="input-group-append">
            <button class="btn btn-primary" type="button" (click)="buscarZonaVenta()">
              <fa name="search"></fa>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="tipoId">Tipo Documento</label>
      <div class="col-md-8">
        <select id="tipoId" class="custom-select" formControlName="tipoDocumento">
          <option [ngValue]="1">DNI</option>
          <option [ngValue]="2">RUC</option>
          <option [ngValue]="3">CARNET EXTRANJERÍA</option>
          <option [ngValue]="4">OTROS</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="numeroDocumentoId">Nro. Documento</label>
      <div class="col-md-8">
        <input class="form-control"
               id="numeroDocumentoId"
               formControlName="numeroDocumento"
               required />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="distritoId">Distrito</label>
      <div class="col-md-8">
        <select id="distritoId" class="custom-select" formControlName="distrito">
          <option *ngFor="let d of distritos" [ngValue]="d">{{d}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for="direccionId">Dirección</label>
      <div class="col-md-8">
        <input class="form-control"
               id="direccionId"
               formControlName="direccion"
               required />
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary ml-3"
              type="submit"
              [disabled]="!form.valid">
        <fa name="save"></fa> Guardar
      </button>
      <button class="btn btn-outline-secondary ml-2"
              [routerLink]='["/personas"]'>
        <fa name="times-circle"></fa> Cancelar
      </button>
    </div>
  </fieldset>
</form>
