<div *ngIf="elegirCliente">
  <app-personas [extern]="fCliente"
                (select)="asignarCliente($event)"></app-personas>
</div>
<div *ngIf="elegirProducto">
  <app-productos [extern]="[{ k: 2, v: 'Producto', b: false }]"
                 (select)="asignarProducto($event)"></app-productos>
</div>
<div [hidden]="elegirCliente || elegirProducto">
  <form class="form-horizontal" novalidate
        [formGroup]="form">
    <div class="form-row">
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label" for="nroId">Nro. Pedido</label>
          <div class="col-md-12">
            <input class="form-control"
                   id="nroId"
                   type="text"
                   [readonly]="true"
                   formControlName="idPedido" />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label">Fecha Entrega</label>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control" placeholder="dd/MM/yyyy"
                     name="dp" formControlName="fechaPropuesta" ngbDatepicker #d="ngbDatepicker" [readonly]="true">
              <div class="input-group-append" *ngIf="!modoLectura">
                <button class="btn btn-primary" (click)="d.toggle()" type="button">
                  <fa name="calendar"></fa>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group" formGroupName="cliente">
          <label class="col-md-12 control-label" for="clienteId">Cliente</label>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control"
                     id="clienteId"
                     type="text"
                     required
                     formControlName="razonSocial"
                     [readonly]="true" />
              <div class="input-group-append" *ngIf="!modoLectura && login.tipo != 2">
                <button class="btn btn-primary" type="button" (click)="buscarCliente()">
                  <fa name="search"></fa>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <label class="col-md-12 control-label" for="comentarioId">Comentario</label>
          <div class="col-md-12">
            <input class="form-control"
                   id="comentarioId"
                   type="text"
                   formControlName="comentario"
                   [readonly]="modoLectura" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="form-horizontal">
    <div class="form-row" *ngIf="!modoLectura">
      <div class="col-12">
        <div class="form-group">
          <label class="col-md-12 control-label" for="productoId">Producto</label>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control"
                     id="productoId"
                     type="text"
                     required
                     [ngModel]="producto.nombre"
                     [readonly]="true" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="buscarProducto()">
                  <fa name="search"></fa>
                </button>
                <button class="btn btn-primary"
                        type="button"
                        (click)="saveItem()"
                        [disabled]="!producto.nombre">
                  <fa name="plus-circle"></fa> Agregar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="col-md-12">
          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Unidad</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>
                <th scope="col" *ngIf="!modoLectura"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of items">
                <td>{{i.producto.nombre}}</td>
                <td>
                  <select class="custom-select" [(ngModel)]="i.unidad" (change)="setFactor(i)">
                    <option *ngFor="let ip of i.producto.items" [ngValue]="ip.unidad">
                      {{ip.unidad.abreviacion}}
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number"
                         class="form-control"
                         [readonly]="modoLectura"
                         [(ngModel)]="i.cantidad" />
                </td>
                <td>
                  <input type="number"
                         class="form-control"
                         [readonly]="modoLectura || login.tipo == 2"
                         [(ngModel)]="i.total" />
                </td>
                <td class="text-center" *ngIf="!modoLectura">
                  <button type="button"
                          class="btn btn-primary"
                          (click)="deleteItem(i)">
                    <fa name="trash"></fa>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary ml-3"
            type="button"
            *ngIf="!modoLectura"
            (click)="save()"
            [disabled]="!form.valid || items.length == 0">
      <fa name="save"></fa> Guardar
    </button>
    <button class="btn btn-outline-secondary ml-2"
            type="button"
            [routerLink]='["/pedidos"]'>
      <fa name="reply"></fa> Regresar
    </button>
  </div>
</div>
