<div class="form-inline mb-3">
  <div class="input-group col-md-4  mb-2 justify-content-center">
    <select class="custom-select" [(ngModel)]="criterio">
      <option [ngValue]="1" [hidden]="extern">Tipo</option>
      <option [ngValue]="2">Nombres</option>
      <option [ngValue]="3">Apellidos</option>
      <option [ngValue]="4">Razón Social</option>
      <option [ngValue]="5">Nro. Documento</option>
    </select>
    <input type="text" class="form-control" [(ngModel)]="busqueda" [hidden]="criterio == 1">
    <select class="custom-select" [(ngModel)]="busquedaCombo" [hidden]="criterio > 1">
      <option value="1-Gerente">Gerente</option>
      <option value="2-Cliente">Cliente</option>
      <option value="3-Vendedor">Vendedor</option>
      <option value="4-Empleado">Empleado</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="buscar()">
        <fa name="search"></fa>
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <app-filtros [filter]="filtros"
                 [extern]="extern"
                 (change)="getPersonas()"></app-filtros>
  </div>
  <div class="col-md-4">
    <app-acciones link="personas-form"
                  class="Persona"
                  [model]="seleccion"
                  [modeSearch]="extern"
                  (delete)="deletePersona()"
                  (select)="elegir()"
                  (cancel)="cancelar()"></app-acciones>
  </div>
</div>

<app-tabla [columnas]="columnas"
           [data]="personas"
           [atributos]="atributos"
           (select)="seleccionar($event)"></app-tabla>

<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="totalRegistros"
                [(page)]="pagina"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
                (pageChange)="pageChange()"></ngb-pagination>

