<div *ngIf="elegirProducto">
  <app-productos [extern]="[{ k: 3, v: 'Producto', b: true }]"
                 (select)="asignarProducto($event)"></app-productos>
</div>
<div [hidden]="elegirProducto">
  <form class="form-horizontal" novalidate
        [formGroup]="form">
    <div class="form-row">
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label" for="nroId">N° Lote</label>
          <div class="col-md-12">
            <input class="form-control"
                   id="nroId"
                   type="text"
                   [readonly]="true"
                   formControlName="idLote" />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label">Fecha</label>
          <div class="col-md-12">
            <input class="form-control" placeholder="dd/MM/yyyy"
                   name="dp" formControlName="fecha" ngbDatepicker #d="ngbDatepicker" [readonly]="true">
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="form-horizontal">
    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <label class="col-md-12 control-label" for="productoId">Producto</label>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control"
                     id="productoId"
                     type="text"
                     required
                     [ngModel]="producto.nombre"
                     [readonly]="true" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="buscarProducto()">
                  <fa name="search"></fa>
                </button>
              </div>
              <div class="input-group-append">
                <button class="btn btn-primary"
                        type="button"
                        (click)="saveItem()"
                        [disabled]="!producto.nombre">
                  <fa name="plus-circle"></fa> Agregar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <div class="col-md-12">
            <ngb-alert type="info"
                       *ngFor="let i of items"
                       [dismissible]="true"
                       (close)="deleteItem(i)">
              {{i.producto.nombre}}
            </ngb-alert>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary ml-3"
            type="button"
            (click)="save()"
            [disabled]="!form.valid || items.length == 0">
      <fa name="save"></fa> Guardar
    </button>
    <button class="btn btn-outline-secondary ml-2"
            type="button"
            [routerLink]='["/lotes"]'>
      <fa name="reply"></fa> Regresar
    </button>
  </div>
</div>
