<div *ngIf="elegirCliente">
  <app-personas [extern]="filtrosCliente" (select)="asignarCliente($event)"></app-personas>
</div>
<div [hidden]="elegirCliente">
  <div class="form-inline mb-3">
    <div class="input-group col-md-3  mb-2 justify-content-center">
      <select class="custom-select" [(ngModel)]="criterio">
        <option [ngValue]="1" *ngIf="login.tipo != 2">Cliente</option>
        <option [ngValue]="2">Fecha Creación</option>
      </select>
      <input class="form-control" placeholder="dd/MM/yyyy"
             name="dp" [(ngModel)]="busqueda" (dateSelect)="seleccionFecha()" ngbDatepicker #d="ngbDatepicker" [hidden]="criterio == 1" [readonly]="true">
      <div class="input-group-append" [hidden]="criterio == 1">
        <button class="btn btn-primary" (click)="d.toggle()" type="button">
          <fa name="calendar"></fa>
        </button>
      </div>
      <div class="input-group-append" *ngIf="criterio == 1">
        <button class="btn btn-primary" type="button" (click)="buscar()">
          <fa name="search"></fa>
        </button>
      </div>
    </div>
    <div class="col-md-3">
      <app-filtros [filter]="filtros"
                   [extern]="extern"
                   (change)="getPedidos()"></app-filtros>
    </div>
    <div class="col-md-3">
      <app-acciones link="pedidos-form"
                    class="Pedido"
                    [model]="seleccion"
                    [modeSearch]="false"
                    (delete)="deletePedido()"
                    (select)="elegir()"
                    (cancel)="cancelar()"
                    [showReadOnly]="true"
                    [show]="seleccion && seleccion.estado == 'PENDIENTE'"></app-acciones>
    </div>
    <div class="btn-group col-md-3 mb-2 justify-content-center" *ngIf="login.tipo != 2 && seleccion">
      <button type="button"
              class="btn btn-primary"
              *ngIf="seleccion.fechaEntrega == null"
              (click)="openDelivery(entregar)">
        <fa name="truck"></fa> Entregar
      </button>
      <button type="button"
              class="btn btn-primary"
              *ngIf="seleccion.total > seleccion.pago"
              (click)="openPay(pagar)">
        <fa name="credit-card"></fa> Pagar
      </button>
    </div>
  </div>

  <app-tabla [columnas]="columnas"
             [data]="pedidos"
             [atributos]="atributos"
             (select)="seleccionar($event)"></app-tabla>

  <ngb-pagination class="d-flex justify-content-center"
                  [collectionSize]="totalRegistros"
                  [(page)]="pagina"
                  [maxSize]="5"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true"
                  (pageChange)="pageChange()"></ngb-pagination>

</div>

<ng-template #entregar let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title" id="modal-basic-title"><fa name="exclamation-triangle"></fa> Confirmación</h5>
    <button type="button" class="close" aria-label="Close" (click)="c('Cerrar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="c('Entregar')"><fa name="truck"></fa> Entregar</button>
    <button type="button" class="btn btn-secoundary" (click)="c('Cancelar')">Cancelar</button>
  </div>
</ng-template>

<ng-template #pagar let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title" id="modal-basic-title">Ingresar Monto</h5>
    <button type="button" class="close" aria-label="Close" (click)="c('Cerrar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body justify-content-center">
    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control"
               id="pagoId"
               type="number"
               [(ngModel)]="montoPago"/>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-primary" (click)="c('Pagar')"><fa name="credit-card"></fa> Pagar</button>
    <button type="button" class="btn btn-secoundary" (click)="c('Cancelar')">Cancelar</button>
  </div>
</ng-template>
