<div class="form-inline mb-3">
  <div class="input-group col-md-4  mb-2 justify-content-center">
    <select class="custom-select" [(ngModel)]="criterio">
      <option [ngValue]="1">Fecha Creación</option>
    </select>
    <input class="form-control"
           placeholder="dd/MM/yyyy"
           name="dp" [(ngModel)]="busqueda"
           (dateSelect)="seleccionFecha()"
           ngbDatepicker
           #d="ngbDatepicker"
           [readonly]="true">
    <div class="input-group-append">
      <button type="button"
              class="btn btn-primary"
              (click)="d.toggle()">
        <fa name="calendar"></fa>
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <app-filtros [filter]="filtros"
                 [extern]="extern"
                 (change)="getSalidasProducto()"></app-filtros>
  </div>
  <div class="col-md-4">
    <app-acciones link="salidas-producto-form"
                  class="SalidaProducto"
                  [model]="seleccion"
                  [modeSearch]="extern"
                  (delete)="deleteSalidaProducto()"
                  [showReadOnly]="true"
                  [show]="login.tipo == 1"></app-acciones>
  </div>
</div>

<app-tabla [columnas]="columnas"
           [data]="salidasProducto"
           [atributos]="atributos"
           (select)="seleccionar($event)"></app-tabla>

<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="totalRegistros"
                [(page)]="pagina"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
                (pageChange)="pageChange()"></ngb-pagination>
