<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Ventas</li>
    <li class="breadcrumb-item active" aria-current="page">Clientes</li>
  </ol>
</nav>

<div class="btn-toolbar mb-3 justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mb-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary"><fa name="plus-circle"></fa> Nuevo</button>
    <button type="button" class="btn btn-primary"><fa name="edit"></fa> Editar</button>
    <button type="button" class="btn btn-primary"><fa name="trash"></fa> Eliminar</button>
  </div>
  <div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Ingrese un filtro aqui" aria-label="Input group example" aria-describedby="btnGroupAddon">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" id="button-addon2"><fa name="search"></fa> Buscar</button>
    </div>
  </div>
</div>
<table class="table table-bordered table-hover table-sm">
  <thead class="thead-light">
    <tr>
      <th scope="col">RUC</th>
      <th scope="col">Razón Social</th>
      <th scope="col">Distrito</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>7600711968</td>
      <td>Cliente 1</td>
      <td>Miraflores</td>
    </tr>
    <tr>
      <td>8802390508</td>
      <td>Cliente 2</td>
      <td>San Isidro</td>
    </tr>
    <tr>
      <td>7805290487</td>
      <td>Cliente 3</td>
      <td>San Luis</td>
    </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Anterior</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Siguiente</a>
    </li>
  </ul>
</nav>
