<div *ngIf="elegirUnidad">
  <app-unidades [modo]="1" (model)="asignarUnidad($event)"></app-unidades>
</div>
<div *ngIf="elegirCategoria">
  <app-categorias [modo]="1" (model)="asignarCategoria($event)"></app-categorias>
</div>
<div [hidden]="elegirUnidad || elegirCategoria">
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle><fa name="angle-double-right"></fa><b> Paso 1</b></ng-template>
      <ng-template ngbTabContent>
        <br />
        <form class="form-horizontal" novalidate
              [formGroup]="form">
          <fieldset>
            <div class="form-group">
              <label class="col-md-2 control-label" for="nombreId">Nombre</label>
              <div class="col-md-8">
                <input class="form-control"
                       id="nombreId"
                       formControlName="nombre"
                       required />
              </div>
            </div>
            <div class="form-group" formGroupName="categoria">
              <label class="col-md-2 control-label" for="categoriaId">Categoria</label>
              <div class="col-md-8">
                <div class="input-group">
                  <input class="form-control"
                         id="categoriaId"
                         type="text"
                         required
                         formControlName="nombre"
                         [readonly]="true" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="buscarCategoria()">
                      <fa name="search"></fa>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-8">
                <div class="custom-control custom-checkbox mt-3">
                  <input type="checkbox" class="custom-control-input" id="esInsumoId" formControlName="esInsumo">
                  <label class="custom-control-label" for="esInsumoId">Es Insumo</label>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><fa name="angle-double-right"></fa><b> Paso 2</b></ng-template>
      <ng-template ngbTabContent>
        <br />
        <form class="form-horizontal" novalidate
              [formGroup]="formItem">
          <fieldset>
            <div class="form-group" formGroupName="unidad">
              <label class="col-md-2 control-label" for="unidadId">Unidad</label>
              <div class="col-md-8">
                <div class="input-group">
                  <input class="form-control"
                         id="unidadId"
                         type="text"
                         required
                         formControlName="nombre"
                         [readonly]="true" />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" (click)="buscarUnidad()">
                      <fa name="search"></fa>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label" for="factorId">Factor</label>
              <div class="col-md-8">
                <div class="input-group">
                  <input class="form-control"
                         id="factorId"
                         type="number"
                         formControlName="factor"
                         required />
                  <div class="input-group-append">
                    <button class="btn btn-primary"
                            type="button"
                            (click)="saveItem()"
                            [disabled]="!formItem.valid">
                      <fa name="plus-circle"></fa> Agregar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><fa name="angle-double-right"></fa><b> Paso 3</b></ng-template>
      <ng-template ngbTabContent>
        <br />
        <table class="table table-bordered table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th scope="col">Unidad</th>
              <th scope="col">Factor</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of items">
              <td>{{i.unidad.nombre}}</td>
              <td>{{i.factor}}</td>
              <td class="text-center">
                <button type="button" class="btn btn-primary" (click)="deleteItem(i)">
                  <fa name="trash"></fa>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  <div class="form-group">
    <button class="btn btn-primary ml-3"
              type="button"
              (click)="save()"
              [disabled]="!form.valid || items.length == 0">
        <fa name="save"></fa> Guardar
      </button>
      <button class="btn btn-outline-secondary ml-2"
              type="button"
              [routerLink]='["/productos"]'>
        <fa name="times-circle"></fa> Cancelar
      </button>
  </div>
</div>
