<h1>{{(modoEdicion) ? 'Editar' : 'Agregar'}} Unidad</h1>
<form class="form-horizontal" novalidate
      (ngSubmit)="save()" [formGroup]="formGroup">
  <fieldset>
    <div class="form-group">
      <label class="col-md-2 control-label" for="abreviacionId">Abreviación</label>
      <div class="col-md-8">
        <input class="form-control"
               id="abreviacionId"
               type="text"
               required
               formControlName="abreviacion"
               [ngClass]="{'is-invalid': formGroup.get('abreviacion').touched && !formGroup.get('abreviacion').valid }"/>
        <div class="invalid-feedback" *ngIf="!formGroup.get('abreviacion').valid">
          El campo abreviación es requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-2 control-label" for=" nombreId">Nombre</label>
      <div class="col-md-8">
        <input class="form-control"
               id="nombreId"
               type="text"
               required
               formControlName="nombre"
               [ngClass]="{'is-invalid': formGroup.get('nombre').touched && !formGroup.get('nombre').valid }"/>
        <div class="invalid-feedback" *ngIf="!formGroup.get('nombre').valid">
          El campo nombre es requerido
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary ml-3"
              type="submit"
              [disabled]="!formGroup.valid">
        <fa name="save"></fa> Guardar
      </button>
      <button class="btn ml-2"
              [routerLink]='["/unidades"]'>
        Cancelar
      </button>
    </div>
  </fieldset>
</form>
