<div *ngIf="elegirProducto">
  <app-productos [extern]="[{ k: 6, v: 'Insumo/Gasto' }]" (select)="asignarProducto($event)"></app-productos>
</div>
<div [hidden]="elegirProducto">
  <form class="form-horizontal" novalidate
        [formGroup]="form">
    <div class="form-row">
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label">Almacen</label>
          <div class="col-md-12">
            <select class="custom-select" formControlName="almacen" required>
              <option *ngFor="let a of almacenes" [ngValue]="a">{{a.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="col-md-12 control-label">Caja</label>
          <div class="col-md-12">
            <select class="custom-select" formControlName="caja" required>
              <option *ngFor="let c of cajas" [ngValue]="c">{{c.nombre}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <label class="col-md-12 control-label" for="comentarioId">Comentario</label>
          <div class="col-md-12">
            <input class="form-control"
                   id="comentarioId"
                   type="text"
                   formControlName="comentario"
                   [readonly]="modoLectura" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="form-horizontal">
    <div class="form-row" *ngIf="!modoLectura">
      <div class="col-12">
        <div class="form-group">
          <label class="col-md-12 control-label" for="productoId">Insumo</label>
          <div class="col-md-12">
            <div class="input-group">
              <input class="form-control"
                     id="productoId"
                     type="text"
                     required
                     [ngModel]="insumo.nombre"
                     [readonly]="true" />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" (click)="buscarProducto()">
                  <fa name="search"></fa>
                </button>
                <button class="btn btn-primary"
                        type="button"
                        (click)="saveItem()"
                        [disabled]="!insumo.nombre">
                  <fa name="plus-circle"></fa> Agregar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12">
        <div class="col-md-12">
          <table class="table table-bordered table-hover table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col">Insumo</th>
                <th scope="col">Unidad</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Costo</th>
                <th scope="col" *ngIf="!modoLectura"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of items">
                <td>{{i.producto.nombre}}</td>
                <td>
                  <select class="custom-select" [(ngModel)]="i.unidad" (change)="setFactor(i)">
                    <option *ngFor="let ip of i.producto.items" [ngValue]="ip.unidad">
                      {{ip.unidad.abreviacion}}
                    </option>
                  </select>
                </td>
                <td>
                  <input type="number"
                         class="form-control"
                         [readonly]="modoLectura"
                         [(ngModel)]="i.cantidad" />
                </td>
                <td>
                  <input type="number"
                         class="form-control"
                         [readonly]="modoLectura"
                         [(ngModel)]="i.costo" />
                </td>
                <td class="text-center" *ngIf="!modoLectura">
                  <button type="button"
                          class="btn btn-primary"
                          (click)="deleteItem(i)">
                    <fa name="trash"></fa>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary ml-3"
            *ngIf="!modoLectura"
            type="button"
            (click)="save()"
            [disabled]="!form.valid || items.length == 0">
      <fa name="save"></fa> Guardar
    </button>
    <button class="btn btn-outline-secondary ml-2"
            type="button"
            [routerLink]='["/ingresos-insumo"]'>
      <fa name="reply"></fa> Regresar
    </button>
  </div>
</div>
