<div class="form-inline mb-3">
  <div class="input-group col-md-4  mb-2 justify-content-center">
    <select class="custom-select" [(ngModel)]="criterio">
      <option [ngValue]="1">Título</option>
    </select>
    <input type="text" class="form-control" [(ngModel)]="busqueda">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="buscar()">
        <fa name="search"></fa>
      </button>
    </div>
  </div>
  <div class="col-md-4">
    <app-filtros [filter]="filtros"
                 [extern]="extern"
                 (change)="getReportes()"></app-filtros>
  </div>
  <div class="col-md-2">
    <app-acciones link="reportes-form"
                  class="Reporte"
                  [model]="seleccion"
                  [modeSearch]="extern"
                  (delete)="deleteReporte()"
                  (select)="elegir()"
                  (cancel)="cancelar()"></app-acciones>
  </div>
  <div class="col-md-2 btn-group mb-2 justify-content-center">
    <button type="button"
            class="btn btn-primary"
            [disabled]="!seleccion"
            (click)="getReporte(viewer)">
      <fa name="play"></fa> Ejecutar
    </button>
  </div>
</div>

<app-tabla [columnas]="columnas"
           [data]="reportes"
           [atributos]="atributos"
           (select)="seleccionar($event)"></app-tabla>

<ngb-pagination class="d-flex justify-content-center"
                [collectionSize]="totalRegistros"
                [(page)]="pagina"
                [maxSize]="5"
                [rotate]="true"
                [ellipses]="false"
                [boundaryLinks]="true"
                (pageChange)="pageChange()"></ngb-pagination>

<ng-template #viewer let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary text-white">
    <h5 class="modal-title" id="modal-basic-title">{{seleccion.titulo}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="c('Cerrar')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!view && chart.length == 0">
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">Parámetro</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of reporteView.items">
            <td>{{i.nombre}}</td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="i.valor" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="view">
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-light">
          <tr>
            <th scope="col">
              <fa name="angle-double-right"></fa>
            </th>
            <th scope="col">
              <fa name="angle-double-right"></fa>
            </th>
            <th scope="col">
              <fa name="hashtag"></fa>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let e of estadisticas">
            <td *ngIf="isFirst(e)"
                [attr.rowspan]="getRowSpan(e)"
                align="center">{{e.leyenda}}</td>
            <td>{{e.etiqueta}}</td>
            <td>{{e.valor}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="chart">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button *ngIf="!view && chart.length == 0"
            type="button"
            class="btn btn-primary"
            (click)="runReporte()">
      <fa name="play"></fa> Generar
    </button>
    <button type="button" class="btn btn-outline-secondary ml-2" (click)="c('Cancelar')">
      <fa name="reply"></fa> Regresar
    </button>
  </div>
</ng-template>
